src/main/mule/spscostumers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="spscostumersFlow" doc:id="50ecac50-a032-4bc5-8e43-429e706c000f" >
		<http:listener doc:name="Listener" doc:id="df6e603e-e1b1-4fe7-b6f9-9b97c8016e43" config-ref="HTTP_Listener_config" path="/api/v1/sps/customers"/>
		<set-payload value="Costumers Info" doc:name="Set Payload" doc:id="70da2b3a-ec4b-45b8-9379-bbeb595cfe20" />
		<logger level="INFO" doc:name="Logger" doc:id="ba9098a2-39e1-4aed-92e5-53531b1c09e6" message='#[output application/java&#10;---&#10;"Database User : " ++ Mule::p("secure::db.username")&#10;++ " - " ++&#10;"Database Pass : " ++ Mule::p("secure::db.password")]'/>
	</flow>
</mule>
